[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "grandalf>=0.8",
    "pydantic-settings>=2.12.0",
    "python-dotenv>=1.2.1",
]
